* {
    margin: 0;
}


body {
    margin: 0;
    color: white;
    background-color: black;
}

#content {
    background-color: rgb(10, 4, 17);
}

p {
    white-space: pre-line;
}

a:link {
    font-weight: 800;
    color: rgb(79, 167, 245);
}

a:visited {
    font-weight: 800;
    color: rgb(79, 167, 245);
}

comment {
    color: gray;
}

.big_button {
    background-color: #0f1226;
    padding: 1em;
    font-size: 1.5em;
    border-radius: 8em;
}

header {
    position: relative;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    color: #fff;
    background-color: #45a1ff;
}

header nav {
    z-index: 1;
}

header nav li {
    display: inline-block;
    white-space: nowrap;
}

header a {
    background-color: white;
    padding: 0.6em;
    border-radius: 0.5em;
    text-decoration: none;
    line-height: 3em;
}

footer {
    text-align: center;
    display: block;
    padding: 5px;
    color: gainsboro;
    background-color: black;
}

footer a:link {
    color: white;
}

footer a:visited {
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#corner_logo {
    z-index: 1;
    display: block;
    position: absolute;
    width: 50vw;
    top: -25vw;
    left: -25vw;
    border-radius: 100%;
    filter: drop-shadow(0 0 5px black);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    animation: fade-in 0.75s cubic-bezier(1, 2.51, 0.88, 0.68) 1, rotate-center 60s linear infinite;
    animation-delay: 1s, 2s;
    animation-fill-mode: backwards, forwards;
}

@keyframes fade-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#showcase {
    max-width: 100%;
    width: 100vw;
    height: 56.25vw;
    position: relative;
    background-color: black;
    overflow: hidden;
    background-image: url("../visual/background/dicolo_icon_light_bubbles.png");
    background-size: cover;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 3em;
}

#showcase #title {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
}

#showcase #title h1 {
    margin: 0;
}